@page "/userconfig/{userid}"

<PageTitle>Users</PageTitle>


@using CryptoBotWebPortal.Data
@using CryptoApi.Objects
@inject NavigationManager NavigationManager
@using Microsoft.AspNetCore.Mvc.RazorPages
@using TelegramBot.Objects
@inject WeatherForecastService ForecastService

@if (AlertVisible)
{
    <div class="alert alert-success fade show">
        <strong>Success!</strong> @AlertMessage
    </div>
}

<tr style="border: 0px; ">
    <td  style="border: 0px; "> 
        <div id="userconfig">
            <h1>User's @user.Item1.Id config</h1>
            <h5>User telegram id: @user.Item1.TelegramId</h5>
            <h5>Username: @user.Item1.UserName</h5>
            <h5>Nickname: @user.Item1.FirstName</h5>
            <h5>User pairs @user.Item1.pairs.Count </h5>
                @if (user.Item1.pairs?.Count > 0)
                {
                    <a style="margin: 10px 5px" type="button" class="btn btn-primary" href="/usertasks/@user.Item1.Id">Show tasks list</a>
                } 
            <h5>Language <input type="text" @bind="user.Item1.Language" style="max-width: 70px"/></h5>
            <h5>Notification timeout <input type="number" @bind="user.Item1.NoticationsInterval" style="max-width: 70px"/></h5>
            <h5><label class="cl-switch"><input type="checkbox" @bind="user.Item1.NightModeEnable" ><span class="switcher"></span><span class="label">Night mode</span></label></h5>
            <h5>Night mode start time <input type="text" @bind="user.Item1.NightModeStartTime" style="max-width: 70px"/> <input type="text" @bind="user.Item1.NightModeEndsTime" style="max-width: 70px"/> </h5>
            <h5><label class="cl-switch"><input type="checkbox" @bind="user.Item1.DisplayTaskEditButtonsInNotifications" ><span class="switcher"></span><span class="label">Display tasks edit buttons in notifications</span></label></h5>
            <h5><label class="cl-switch"><input type="checkbox" @bind="user.Item1.ShowMarketEvents" ><span class="switcher"></span><span class="label">Show market events</span></label></h5>
            <h5><label class="cl-switch"><input type="checkbox" @bind="user.Item1.AntifloodIntervalAmplification" ><span class="switcher"></span><span class="label">Anti flood timeout auto amplification</span></label></h5>
            <h5><label class="cl-switch"><input type="checkbox" @bind="user.Item1.NotesEnable" ><span class="switcher"></span><span class="label">Show tips in notifications</span></label></h5>
            <h5><label class="cl-switch"><input type="checkbox" @bind="user.Item1.RemoveLatestNotifyBeforeNew" ><span class="switcher"></span><span class="label">Remove latest notify before sending new one</span></label></h5>
            <h5 style="max-width: 377px">Morning prices changes report (set 0 to disable or time in minutes when to notify you)</h5>
            <input type="text" @bind="user.Item1.MorningReport" style="max-width: 120px"/>
        </div>
    </td>
   
    <td style="border: 0px;">
    @if (user.Item2 != null)
    {
        <div id="breakoutConfig" style="margin-left: 30px; align-self: center">
            <h1>Breakouts settings:</h1>
            <h5><label class="cl-switch"> <input type="checkbox" @bind="user.Item2.Subscribed"> <span class="switcher"></span> <span class="label">Subscription status</span></label></h5>
            <h5>Platforms subscription:</h5>
            <label class="cl-switch"> <input type="checkbox" @bind="user.Item2.BinanceSub"> <span class="switcher"></span> <span class="label">Binance</span></label>
            <label class="cl-switch"> <input type="checkbox" @bind="user.Item2.BitgetSub"> <span class="switcher"></span> <span class="label">Bitget</span></label>
            <label class="cl-switch"> <input type="checkbox" @bind="user.Item2.OkxSub"> <span class="switcher"></span> <span class="label">Okx</span></label>
            <label class="cl-switch"> <input type="checkbox" @bind="user.Item2.KucoinSub"> <span class="switcher"></span> <span class="label">Kucoin</span></label>
            <label class="cl-switch"> <input type="checkbox" @bind="user.Item2.GateioSub"> <span class="switcher"></span> <span class="label">GateIO</span></label>
            <h5>Timings subscription:</h5>
            <h5><label class="cl-switch"> <input type="checkbox" @bind="user.Item2.S2MinUpdates"> <span class="switcher"></span> <span class="label">2 mins updates</span></label> </h5>
            <h5><label class="cl-switch"> <input type="checkbox" @bind="user.Item2.S5MinUpdates"> <span class="switcher"></span> <span class="label">5 mins updates</span></label> </h5>
            <h5> <label class="cl-switch"> <input type="checkbox" @bind="user.Item2.S15MinUpdates"> <span class="switcher"></span> <span class="label">15 mins updates</span></label> </h5>
            <h5><label class="cl-switch"> <input type="checkbox" @bind="user.Item2.S30MinUpdates"> <span class="switcher"></span> <span class="label">30 mins updates</span></label> </h5>
            <h5><label class="cl-switch"> <input type="checkbox" @bind="user.Item2.S45MinUpdates"> <span class="switcher"></span> <span class="label">45 mins updates</span></label> </h5>
            <h5><label class="cl-switch"> <input type="checkbox" @bind="user.Item2.S60MinUpdates"> <span class="switcher"></span> <span class="label">60 mins updates</span></label> </h5>
            <h5><label class="cl-switch"> <input type="checkbox" @bind="user.Item2.S120MinUpdates"> <span class="switcher"></span> <span class="label">2 hours updates</span></label> </h5>
            <h5><label class="cl-switch"> <input type="checkbox" @bind="user.Item2.S240MinUpdates"> <span class="switcher"></span> <span class="label">4 hours updates</span></label> </h5>
            <h5> <label class="cl-switch"> <input type="checkbox" @bind="user.Item2.S480MinUpdates"> <span class="switcher"></span> <span class="label">8 hours updates</span></label> </h5>
            <h5><label class="cl-switch"> <input type="checkbox" @bind="user.Item2.S960MinUpdates"> <span class="switcher"></span> <span class="label">16 hours updates</span></label> </h5>
            <h5><label class="cl-switch"> <input type="checkbox" @bind="user.Item2.S1920MinUpdates"> <span class="switcher"></span> <span class="label">32 hours updates</span></label></h5>
        </div>
    }
    else
    {
        <h4>You are not subscribed to breakouts notifications. To subscribe send /subscribe in chat</h4>
    }
    </td>
    
</tr>
<p/>
<button type="button" style="margin: 0 auto;" class="btn btn-primary"  @onclick="SaveChanges">Save changes</button>

@code {
    private (UserConfig, BreakoutSub) user;

    [Parameter]
    public string userid { get; set; }

    public bool AlertVisible { get; set; }
    public string AlertMessage { get; set; }

    protected override async Task OnInitializedAsync()
    {
        user = await ForecastService.userconfigGET(int.Parse(userid));
    }

    private async Task SaveChanges()
    {
        await ForecastService.SaveUserSettings(user.Item1, user.Item2);
        AlertMessage = "Settings saved";
        AlertVisible = true;
        await Task.Run((() => Thread.Sleep(2500)));
        AlertVisible = false;
        NavigationManager.NavigateTo("/fetchusers");
        

    }

}
